.Default {
	font-family: Segoe UI;
	font-size: 12px;
}

.System {
	font-family: Segoe UI;
	font-size: 12px;
}

.SystemBig {
	font-family: Segoe UI;
	font-size: 14px;
}

.SystemSmall {
	font-family: Segoe UI;
	font-size: 10px;
}

