.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.System {
	font-family: Lucida Grande;
	font-size: 13px;
}

.SystemBig {
	font-family: Lucida Grande;
	font-size: 15px;
}

.SystemSmall {
	font-family: Lucida Grande;
	font-size: 10px;
}

